debug_flow.json
[{"id": "9c687140.2d07", "type": "inject", "z": "f7c5b52b.d0b038", "name": "", "repeat": "5", "crontab": "", "once": true, "onceDelay": "3.5", "topic": "", "payload": "30", "payloadType": "str", "x": 350, "y": 820, "wires": [["56c91654.ef908"]]}, {"id": "56c91654.ef908", "type": "delay", "z": "f7c5b52b.d0b038", "name": "", "pauseType": "random", "timeout": "300", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "300", "randomLast": "700", "randomUnits": "milliseconds", "drop": false, "outputs": 1, "x": 600, "y": 820, "wires": [["3b978cd5.fa4c40", "cd6524b7.f117a0"]]}, {"id": "3ca965f.4ce09a", "type": "link in", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 795, "y": 860, "wires": [["cd6524b7.f117a0", "3b978cd5.fa4c40"]]}, {"id": "cd6524b7.f117a0", "type": "mqtt out", "z": "f7c5b52b.d0b038", "name": "", "topic": "/client_112_sub", "qos": "0", "retain": "false", "broker": "", "x": 910, "y": 820, "wires": []}, {"id": "95eb414.1442e0", "type": "mqtt in", "z": "f7c5b52b.d0b038", "name": "", "topic": "/client_112_pub", "qos": "0", "datatype": "auto", "broker": "", "inputs": 0, "x": 340, "y": 920, "wires": [["d164a84f.5b9200"]]}, {"id": "d164a84f.5b9200", "type": "delay", "z": "f7c5b52b.d0b038", "name": "", "pauseType": "delay", "timeout": "300", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "outputs": 1, "x": 690, "y": 920, "wires": [["3b978cd5.fa4c40"]]}, {"id": "3b978cd5.fa4c40", "type": "function", "z": "f7c5b52b.d0b038", "name": "check_link_112", "func": "var link_counter_m = flow.get('link_counter_client_112') || 0;\n\nif(msg.payload == \"30\")\n{\n    link_counter_m = (link_counter_m < 2) ? link_counter_m + 1 : 2;\n}\n\nif(msg.payload == \"31\")\n{\n    link_counter_m = 0;\n}\n\nflow.set('link_counter_client_112', link_counter_m);\nmsg.link = link_counter_m;\n\nif(link_counter_m <= 1)\n{\n    msg.payload = true;\n    msg.text = \"on-line\";\n    return msg;\n}\nelse\n{\n    msg.payload = false;\n    msg.text = \"off-line\";\n    return msg;\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 920, "y": 920, "wires": [["ad2209c.aa751f0", "4e867014.108b20", "c7ac71ba.89f0"]]}, {"id": "ad2209c.aa751f0", "type": "ui_text", "z": "f7c5b52b.d0b038", "group": "", "order": 2, "width": 7, "height": 1, "name": "link state: client_112(book)", "label": "main: ", "format": "msg.text", "layout": "row-right", "x": 1140, "y": 900, "wires": []}, {"id": "4e867014.108b20", "type": "ui_switch", "z": "f7c5b52b.d0b038", "name": "", "label": "link m", "tooltip": "", "group": "", "order": 3, "width": 1, "height": 1, "passthru": false, "decouple": "true", "topic": "", "style": "", "onvalue": "true", "onvalueType": "bool", "onicon": "fa-link fa-2x", "oncolor": "olivedrab", "offvalue": "false", "offvalueType": "bool", "officon": "fa-unlink fa-2x", "offcolor": "orangered", "x": 1110, "y": 940, "wires": []}, {"id": "c7ac71ba.89f0", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 1075, "y": 1000, "wires": []}, {"id": "9c687140.2d17", "type": "inject", "z": "f7c5b52b.d0b038", "name": "", "repeat": "5", "crontab": "", "once": true, "onceDelay": "3.5", "topic": "", "payload": "30", "payloadType": "str", "x": 350, "y": 1020, "wires": [["56c91654.ef918"]]}, {"id": "56c91654.ef918", "type": "delay", "z": "f7c5b52b.d0b038", "name": "", "pauseType": "random", "timeout": "300", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "300", "randomLast": "700", "randomUnits": "milliseconds", "drop": false, "outputs": 1, "x": 600, "y": 1020, "wires": [["3b978cd5.fa4c41", "cd6524b7.f117a1"]]}, {"id": "3ca965f.4ce19a", "type": "link in", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 795, "y": 1060, "wires": [["cd6524b7.f117a1", "3b978cd5.fa4c41"]]}, {"id": "cd6524b7.f117a1", "type": "mqtt out", "z": "f7c5b52b.d0b038", "name": "", "topic": "/client_113_sub", "qos": "0", "retain": "false", "broker": "", "x": 910, "y": 1020, "wires": []}, {"id": "95eb414.1442e1", "type": "mqtt in", "z": "f7c5b52b.d0b038", "name": "", "topic": "/client_113_pub", "qos": "0", "datatype": "auto", "broker": "", "inputs": 0, "x": 340, "y": 1120, "wires": [["d164a84f.5b9201"]]}, {"id": "d164a84f.5b9201", "type": "delay", "z": "f7c5b52b.d0b038", "name": "", "pauseType": "delay", "timeout": "300", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "outputs": 1, "x": 690, "y": 1120, "wires": [["3b978cd5.fa4c41"]]}, {"id": "3b978cd5.fa4c41", "type": "function", "z": "f7c5b52b.d0b038", "name": "check_link_113", "func": "var link_counter_m = flow.get('link_counter_client_113') || 0;\n\nif(msg.payload == \"30\")\n{\n    link_counter_m = (link_counter_m < 2) ? link_counter_m + 1 : 2;\n}\n\nif(msg.payload == \"31\")\n{\n    link_counter_m = 0;\n}\n\nflow.set('link_counter_client_113', link_counter_m);\nmsg.link = link_counter_m;\n\nif(link_counter_m <= 1)\n{\n    msg.payload = true;\n    msg.text = \"on-line\";\n    return msg;\n}\nelse\n{\n    msg.payload = false;\n    msg.text = \"off-line\";\n    return msg;\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 920, "y": 1120, "wires": [["ad2209c.aa751f1", "4e867014.108b21", "c7ac71ba.89f1"]]}, {"id": "ad2209c.aa751f1", "type": "ui_text", "z": "f7c5b52b.d0b038", "group": "", "order": 2, "width": 7, "height": 1, "name": "link state: client_113(voice box)", "label": "main: ", "format": "msg.text", "layout": "row-right", "x": 1140, "y": 1100, "wires": []}, {"id": "4e867014.108b21", "type": "ui_switch", "z": "f7c5b52b.d0b038", "name": "", "label": "link m", "tooltip": "", "group": "", "order": 3, "width": 1, "height": 1, "passthru": false, "decouple": "true", "topic": "", "style": "", "onvalue": "true", "onvalueType": "bool", "onicon": "fa-link fa-2x", "oncolor": "olivedrab", "offvalue": "false", "offvalueType": "bool", "officon": "fa-unlink fa-2x", "offcolor": "orangered", "x": 1110, "y": 1140, "wires": []}, {"id": "c7ac71ba.89f1", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 1075, "y": 1200, "wires": []}, {"id": "1a60ee47.94530", "type": "ui_switch", "z": "f7c5b52b.d0b038", "name": "", "label": "ENTRANCE", "tooltip": "", "group": "", "order": 4, "width": 0, "height": 0, "passthru": false, "decouple": "true", "topic": "", "style": "", "onvalue": "341", "onvalueType": "str", "onicon": "fa-lock fa-2x", "oncolor": "olivedrab", "offvalue": "340", "offvalueType": "str", "officon": "fa-unlock fa-2x", "offcolor": "orangered", "x": 700, "y": 60, "wires": [["fdb4fb1b.238cc81"]]}, {"id": "1a60ee47.94531", "type": "ui_switch", "z": "f7c5b52b.d0b038", "name": "", "label": "BOOK", "tooltip": "", "group": "", "order": 4, "width": 0, "height": 0, "passthru": false, "decouple": "true", "topic": "", "style": "", "onvalue": "343", "onvalueType": "str", "onicon": "fa-lock fa-2x", "oncolor": "olivedrab", "offvalue": "342", "offvalueType": "str", "officon": "fa-unlock fa-2x", "offcolor": "orangered", "x": 700, "y": 110, "wires": [["fdb4fb1b.238cc81"]]}, {"id": "1a60ee47.94532", "type": "ui_switch", "z": "f7c5b52b.d0b038", "name": "", "label": "RESERVE_1", "tooltip": "", "group": "", "order": 4, "width": 0, "height": 0, "passthru": false, "decouple": "true", "topic": "", "style": "", "onvalue": "345", "onvalueType": "str", "onicon": "fa-lock fa-2x", "oncolor": "olivedrab", "offvalue": "344", "offvalueType": "str", "officon": "fa-unlock fa-2x", "offcolor": "orangered", "x": 700, "y": 160, "wires": [["fdb4fb1b.238cc81"]]}, {"id": "1a60ee47.94533", "type": "ui_switch", "z": "f7c5b52b.d0b038", "name": "", "label": "RESERVE_2", "tooltip": "", "group": "", "order": 4, "width": 0, "height": 0, "passthru": false, "decouple": "true", "topic": "", "style": "", "onvalue": "347", "onvalueType": "str", "onicon": "fa-lock fa-2x", "oncolor": "olivedrab", "offvalue": "346", "offvalueType": "str", "officon": "fa-unlock fa-2x", "offcolor": "orangered", "x": 700, "y": 210, "wires": [["fdb4fb1b.238cc81"]]}, {"id": "1a60ee47.94534", "type": "ui_switch", "z": "f7c5b52b.d0b038", "name": "", "label": "RESERVE_3", "tooltip": "", "group": "", "order": 4, "width": 0, "height": 0, "passthru": false, "decouple": "true", "topic": "", "style": "", "onvalue": "349", "onvalueType": "str", "onicon": "fa-lock fa-2x", "oncolor": "olivedrab", "offvalue": "348", "offvalueType": "str", "officon": "fa-unlock fa-2x", "offcolor": "orangered", "x": 700, "y": 260, "wires": [["fdb4fb1b.238cc81"]]}, {"id": "1fb8c0ec.ce05721", "type": "mqtt in", "z": "f7c5b52b.d0b038", "name": "", "topic": "/main_callback_pub", "qos": "0", "datatype": "auto", "broker": "", "inputs": 0, "x": 350, "y": 300, "wires": [["1a60ee47.94530", "1a60ee47.94531", "1a60ee47.94532", "1a60ee47.94533", "1a60ee47.94534"]]}, {"id": "fdb4fb1b.238cc81", "type": "mqtt out", "z": "f7c5b52b.d0b038", "name": "", "topic": "/main_sub", "qos": "0", "retain": "false", "broker": "", "x": 1200, "y": 300, "wires": []}]