generated_flow.json
[{"id": "2a90beba.57d0", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Main logo 1\";\n}\nelse{\n    msg.lang_label = \"Main logo 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 380, "wires": [["1db388a.5ab0"]]}, {"id": "1db388a.5ab0", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Main logo 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 260, "wires": []}, {"id": "cbdcd6f8.4de0", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Main logo 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 240, "wires": [["c7ac71ba.89f0", "9b15f2bf.5680"]]}, {"id": "c7ac71ba.89f0", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 180, "wires": []}, {"id": "9b15f2bf.5680", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 240, "wires": [["d72833b6.4ec0"]]}, {"id": "d72833b6.4ec0", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 240, "wires": [["5f841428.1460"]]}, {"id": "5f841428.1460", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Main logo 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Main logo 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 240, "wires": []}, {"id": "8ea9804f.cb00", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Main logo 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 280, "wires": [["e3072c77.8510", "dd1b90ab.92c0"]]}, {"id": "e3072c77.8510", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 340, "wires": []}, {"id": "dd1b90ab.92c0", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 280, "wires": [["dacd4ab0.ca5130"], ["dacd4ab0.ca50"]]}, {"id": "dacd4ab0.ca50", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 280, "wires": [["92853d2b.1540"]]}, {"id": "92853d2b.1540", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Main logo 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Main logo 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 280, "wires": [[]]}, {"id": "2a90beba.57d1", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Competition logo 1\";\n}\nelse{\n    msg.lang_label = \"Competition logo 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 580, "wires": [["1db388a.5ab1"]]}, {"id": "1db388a.5ab1", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Competition logo 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 460, "wires": []}, {"id": "cbdcd6f8.4de1", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Competition logo 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 440, "wires": [["c7ac71ba.89f1", "9b15f2bf.5681"]]}, {"id": "c7ac71ba.89f1", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 380, "wires": []}, {"id": "9b15f2bf.5681", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 440, "wires": [["d72833b6.4ec1"]]}, {"id": "d72833b6.4ec1", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 440, "wires": [["5f841428.1461"]]}, {"id": "5f841428.1461", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Competition logo 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Competition logo 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 440, "wires": []}, {"id": "8ea9804f.cb01", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Competition logo 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 480, "wires": [["e3072c77.8511", "dd1b90ab.92c1"]]}, {"id": "e3072c77.8511", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 540, "wires": []}, {"id": "dd1b90ab.92c1", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 480, "wires": [["dacd4ab0.ca5131"], ["dacd4ab0.ca51"]]}, {"id": "dacd4ab0.ca51", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 480, "wires": [["92853d2b.1541"]]}, {"id": "92853d2b.1541", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Competition logo 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Competition logo 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 480, "wires": [[]]}, {"id": "2a90beba.57d2", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Saw 1\";\n}\nelse{\n    msg.lang_label = \"Saw 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 780, "wires": [["1db388a.5ab2"]]}, {"id": "1db388a.5ab2", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Saw 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 660, "wires": []}, {"id": "cbdcd6f8.4de2", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Saw 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 640, "wires": [["c7ac71ba.89f2", "9b15f2bf.5682"]]}, {"id": "c7ac71ba.89f2", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 580, "wires": []}, {"id": "9b15f2bf.5682", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 640, "wires": [["d72833b6.4ec2"]]}, {"id": "d72833b6.4ec2", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 640, "wires": [["5f841428.1462"]]}, {"id": "5f841428.1462", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Saw 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Saw 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 640, "wires": []}, {"id": "8ea9804f.cb02", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Saw 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 680, "wires": [["e3072c77.8512", "dd1b90ab.92c2"]]}, {"id": "e3072c77.8512", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 740, "wires": []}, {"id": "dd1b90ab.92c2", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 680, "wires": [["dacd4ab0.ca5132"], ["dacd4ab0.ca52"]]}, {"id": "dacd4ab0.ca52", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 680, "wires": [["92853d2b.1542"]]}, {"id": "92853d2b.1542", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Saw 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Saw 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 680, "wires": [[]]}, {"id": "2a90beba.57d3", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Posters 1\";\n}\nelse{\n    msg.lang_label = \"Posters 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 980, "wires": [["1db388a.5ab3"]]}, {"id": "1db388a.5ab3", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Posters 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 860, "wires": []}, {"id": "cbdcd6f8.4de3", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Posters 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 840, "wires": [["c7ac71ba.89f3", "9b15f2bf.5683"]]}, {"id": "c7ac71ba.89f3", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 780, "wires": []}, {"id": "9b15f2bf.5683", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 840, "wires": [["d72833b6.4ec3"]]}, {"id": "d72833b6.4ec3", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 840, "wires": [["5f841428.1463"]]}, {"id": "5f841428.1463", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Posters 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Posters 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 840, "wires": []}, {"id": "8ea9804f.cb03", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Posters 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 880, "wires": [["e3072c77.8513", "dd1b90ab.92c3"]]}, {"id": "e3072c77.8513", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 940, "wires": []}, {"id": "dd1b90ab.92c3", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 880, "wires": [["dacd4ab0.ca5133"], ["dacd4ab0.ca53"]]}, {"id": "dacd4ab0.ca53", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 880, "wires": [["92853d2b.1543"]]}, {"id": "92853d2b.1543", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Posters 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Posters 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 880, "wires": [[]]}, {"id": "2a90beba.57d4", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Sausages 1\";\n}\nelse{\n    msg.lang_label = \"Sausages 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 1180, "wires": [["1db388a.5ab4"]]}, {"id": "1db388a.5ab4", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Sausages 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 1060, "wires": []}, {"id": "cbdcd6f8.4de4", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Sausages 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1040, "wires": [["c7ac71ba.89f4", "9b15f2bf.5684"]]}, {"id": "c7ac71ba.89f4", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 980, "wires": []}, {"id": "9b15f2bf.5684", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1040, "wires": [["d72833b6.4ec4"]]}, {"id": "d72833b6.4ec4", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1040, "wires": [["5f841428.1464"]]}, {"id": "5f841428.1464", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Sausages 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Sausages 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1040, "wires": []}, {"id": "8ea9804f.cb04", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Sausages 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1080, "wires": [["e3072c77.8514", "dd1b90ab.92c4"]]}, {"id": "e3072c77.8514", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 1140, "wires": []}, {"id": "dd1b90ab.92c4", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1080, "wires": [["dacd4ab0.ca5134"], ["dacd4ab0.ca54"]]}, {"id": "dacd4ab0.ca54", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1080, "wires": [["92853d2b.1544"]]}, {"id": "92853d2b.1544", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Sausages 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Sausages 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1080, "wires": [[]]}, {"id": "2a90beba.57d5", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Grinder 1\";\n}\nelse{\n    msg.lang_label = \"Grinder 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 1380, "wires": [["1db388a.5ab5"]]}, {"id": "1db388a.5ab5", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Grinder 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 1260, "wires": []}, {"id": "cbdcd6f8.4de5", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Grinder 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1240, "wires": [["c7ac71ba.89f5", "9b15f2bf.5685"]]}, {"id": "c7ac71ba.89f5", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 1180, "wires": []}, {"id": "9b15f2bf.5685", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1240, "wires": [["d72833b6.4ec5"]]}, {"id": "d72833b6.4ec5", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1240, "wires": [["5f841428.1465"]]}, {"id": "5f841428.1465", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Grinder 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Grinder 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1240, "wires": []}, {"id": "8ea9804f.cb05", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Grinder 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1280, "wires": [["e3072c77.8515", "dd1b90ab.92c5"]]}, {"id": "e3072c77.8515", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 1340, "wires": []}, {"id": "dd1b90ab.92c5", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1280, "wires": [["dacd4ab0.ca5135"], ["dacd4ab0.ca55"]]}, {"id": "dacd4ab0.ca55", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1280, "wires": [["92853d2b.1545"]]}, {"id": "92853d2b.1545", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Grinder 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Grinder 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1280, "wires": [[]]}, {"id": "2a90beba.57d6", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Aprons 1\";\n}\nelse{\n    msg.lang_label = \"Aprons 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 1580, "wires": [["1db388a.5ab6"]]}, {"id": "1db388a.5ab6", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Aprons 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 1460, "wires": []}, {"id": "cbdcd6f8.4de6", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Aprons 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1440, "wires": [["c7ac71ba.89f6", "9b15f2bf.5686"]]}, {"id": "c7ac71ba.89f6", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 1380, "wires": []}, {"id": "9b15f2bf.5686", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1440, "wires": [["d72833b6.4ec6"]]}, {"id": "d72833b6.4ec6", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1440, "wires": [["5f841428.1466"]]}, {"id": "5f841428.1466", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Aprons 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Aprons 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1440, "wires": []}, {"id": "8ea9804f.cb06", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Aprons 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1480, "wires": [["e3072c77.8516", "dd1b90ab.92c6"]]}, {"id": "e3072c77.8516", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 1540, "wires": []}, {"id": "dd1b90ab.92c6", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1480, "wires": [["dacd4ab0.ca5136"], ["dacd4ab0.ca56"]]}, {"id": "dacd4ab0.ca56", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1480, "wires": [["92853d2b.1546"]]}, {"id": "92853d2b.1546", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Aprons 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Aprons 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1480, "wires": [[]]}, {"id": "2a90beba.57d7", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Steaks 1\";\n}\nelse{\n    msg.lang_label = \"Steaks 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 1780, "wires": [["1db388a.5ab7"]]}, {"id": "1db388a.5ab7", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Steaks 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 1660, "wires": []}, {"id": "cbdcd6f8.4de7", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Steaks 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1640, "wires": [["c7ac71ba.89f7", "9b15f2bf.5687"]]}, {"id": "c7ac71ba.89f7", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 1580, "wires": []}, {"id": "9b15f2bf.5687", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1640, "wires": [["d72833b6.4ec7"]]}, {"id": "d72833b6.4ec7", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1640, "wires": [["5f841428.1467"]]}, {"id": "5f841428.1467", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Steaks 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Steaks 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1640, "wires": []}, {"id": "8ea9804f.cb07", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Steaks 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1680, "wires": [["e3072c77.8517", "dd1b90ab.92c7"]]}, {"id": "e3072c77.8517", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 1740, "wires": []}, {"id": "dd1b90ab.92c7", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1680, "wires": [["dacd4ab0.ca5137"], ["dacd4ab0.ca57"]]}, {"id": "dacd4ab0.ca57", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1680, "wires": [["92853d2b.1547"]]}, {"id": "92853d2b.1547", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Steaks 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Steaks 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1680, "wires": [[]]}, {"id": "2a90beba.57d8", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Choice cuts 1\";\n}\nelse{\n    msg.lang_label = \"Choice cuts 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 1980, "wires": [["1db388a.5ab8"]]}, {"id": "1db388a.5ab8", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Choice cuts 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 1860, "wires": []}, {"id": "cbdcd6f8.4de8", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Choice cuts 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1840, "wires": [["c7ac71ba.89f8", "9b15f2bf.5688"]]}, {"id": "c7ac71ba.89f8", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 1780, "wires": []}, {"id": "9b15f2bf.5688", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1840, "wires": [["d72833b6.4ec8"]]}, {"id": "d72833b6.4ec8", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1840, "wires": [["5f841428.1468"]]}, {"id": "5f841428.1468", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Choice cuts 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Choice cuts 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1840, "wires": []}, {"id": "8ea9804f.cb08", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Choice cuts 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1880, "wires": [["e3072c77.8518", "dd1b90ab.92c8"]]}, {"id": "e3072c77.8518", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 1940, "wires": []}, {"id": "dd1b90ab.92c8", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1880, "wires": [["dacd4ab0.ca5138"], ["dacd4ab0.ca58"]]}, {"id": "dacd4ab0.ca58", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1880, "wires": [["92853d2b.1548"]]}, {"id": "92853d2b.1548", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Choice cuts 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Choice cuts 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1880, "wires": [[]]}, {"id": "2a90beba.57d9", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Skin 1\";\n}\nelse{\n    msg.lang_label = \"Skin 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 2180, "wires": [["1db388a.5ab9"]]}, {"id": "1db388a.5ab9", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Skin 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 2060, "wires": []}, {"id": "cbdcd6f8.4de9", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Skin 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2040, "wires": [["c7ac71ba.89f9", "9b15f2bf.5689"]]}, {"id": "c7ac71ba.89f9", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 1980, "wires": []}, {"id": "9b15f2bf.5689", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2040, "wires": [["d72833b6.4ec9"]]}, {"id": "d72833b6.4ec9", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2040, "wires": [["5f841428.1469"]]}, {"id": "5f841428.1469", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Skin 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Skin 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2040, "wires": []}, {"id": "8ea9804f.cb09", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Skin 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2080, "wires": [["e3072c77.8519", "dd1b90ab.92c9"]]}, {"id": "e3072c77.8519", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 2140, "wires": []}, {"id": "dd1b90ab.92c9", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2080, "wires": [["dacd4ab0.ca5139"], ["dacd4ab0.ca59"]]}, {"id": "dacd4ab0.ca59", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2080, "wires": [["92853d2b.1549"]]}, {"id": "92853d2b.1549", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Skin 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Skin 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2080, "wires": [[]]}, {"id": "2a90beba.57d10", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Fingers 1\";\n}\nelse{\n    msg.lang_label = \"Fingers 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 2380, "wires": [["1db388a.5ab10"]]}, {"id": "1db388a.5ab10", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Fingers 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 2260, "wires": []}, {"id": "cbdcd6f8.4de10", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Fingers 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2240, "wires": [["c7ac71ba.89f10", "9b15f2bf.56810"]]}, {"id": "c7ac71ba.89f10", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 2180, "wires": []}, {"id": "9b15f2bf.56810", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2240, "wires": [["d72833b6.4ec10"]]}, {"id": "d72833b6.4ec10", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2240, "wires": [["5f841428.14610"]]}, {"id": "5f841428.14610", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Fingers 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Fingers 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2240, "wires": []}, {"id": "8ea9804f.cb010", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Fingers 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2280, "wires": [["e3072c77.85110", "dd1b90ab.92c10"]]}, {"id": "e3072c77.85110", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 2340, "wires": []}, {"id": "dd1b90ab.92c10", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2280, "wires": [["dacd4ab0.ca51310"], ["dacd4ab0.ca510"]]}, {"id": "dacd4ab0.ca510", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2280, "wires": [["92853d2b.15410"]]}, {"id": "92853d2b.15410", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Fingers 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Fingers 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2280, "wires": [[]]}, {"id": "2a90beba.57d11", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Eyes 1\";\n}\nelse{\n    msg.lang_label = \"Eyes 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 2580, "wires": [["1db388a.5ab11"]]}, {"id": "1db388a.5ab11", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Eyes 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 2460, "wires": []}, {"id": "cbdcd6f8.4de11", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Eyes 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2440, "wires": [["c7ac71ba.89f11", "9b15f2bf.56811"]]}, {"id": "c7ac71ba.89f11", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 2380, "wires": []}, {"id": "9b15f2bf.56811", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2440, "wires": [["d72833b6.4ec11"]]}, {"id": "d72833b6.4ec11", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2440, "wires": [["5f841428.14611"]]}, {"id": "5f841428.14611", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Eyes 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Eyes 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2440, "wires": []}, {"id": "8ea9804f.cb011", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Eyes 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2480, "wires": [["e3072c77.85111", "dd1b90ab.92c11"]]}, {"id": "e3072c77.85111", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 2540, "wires": []}, {"id": "dd1b90ab.92c11", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2480, "wires": [["dacd4ab0.ca51311"], ["dacd4ab0.ca511"]]}, {"id": "dacd4ab0.ca511", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2480, "wires": [["92853d2b.15411"]]}, {"id": "92853d2b.15411", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Eyes 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Eyes 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2480, "wires": [[]]}, {"id": "2a90beba.57d12", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Guillotine 1\";\n}\nelse{\n    msg.lang_label = \"Guillotine 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 2780, "wires": [["1db388a.5ab12"]]}, {"id": "1db388a.5ab12", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Guillotine 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 2660, "wires": []}, {"id": "cbdcd6f8.4de12", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Guillotine 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2640, "wires": [["c7ac71ba.89f12", "9b15f2bf.56812"]]}, {"id": "c7ac71ba.89f12", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 2580, "wires": []}, {"id": "9b15f2bf.56812", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2640, "wires": [["d72833b6.4ec12"]]}, {"id": "d72833b6.4ec12", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2640, "wires": [["5f841428.14612"]]}, {"id": "5f841428.14612", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Guillotine 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Guillotine 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2640, "wires": []}, {"id": "8ea9804f.cb012", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Guillotine 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2680, "wires": [["e3072c77.85112", "dd1b90ab.92c12"]]}, {"id": "e3072c77.85112", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 2740, "wires": []}, {"id": "dd1b90ab.92c12", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2680, "wires": [["dacd4ab0.ca51312"], ["dacd4ab0.ca512"]]}, {"id": "dacd4ab0.ca512", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2680, "wires": [["92853d2b.15412"]]}, {"id": "92853d2b.15412", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Guillotine 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Guillotine 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2680, "wires": [[]]}, {"id": "2a90beba.57d13", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Oven 1\";\n}\nelse{\n    msg.lang_label = \"Oven 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 2980, "wires": [["1db388a.5ab13"]]}, {"id": "1db388a.5ab13", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Oven 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 2860, "wires": []}, {"id": "cbdcd6f8.4de13", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Oven 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2840, "wires": [["c7ac71ba.89f13", "9b15f2bf.56813"]]}, {"id": "c7ac71ba.89f13", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 2780, "wires": []}, {"id": "9b15f2bf.56813", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2840, "wires": [["d72833b6.4ec13"]]}, {"id": "d72833b6.4ec13", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2840, "wires": [["5f841428.14613"]]}, {"id": "5f841428.14613", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Oven 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Oven 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2840, "wires": []}, {"id": "8ea9804f.cb013", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Oven 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2880, "wires": [["e3072c77.85113", "dd1b90ab.92c13"]]}, {"id": "e3072c77.85113", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 2940, "wires": []}, {"id": "dd1b90ab.92c13", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2880, "wires": [["dacd4ab0.ca51313"], ["dacd4ab0.ca513"]]}, {"id": "dacd4ab0.ca513", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2880, "wires": [["92853d2b.15413"]]}, {"id": "92853d2b.15413", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Oven 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Oven 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2880, "wires": [[]]}, {"id": "2a90beba.57d14", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Tenderized 1\";\n}\nelse{\n    msg.lang_label = \"Tenderized 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 3180, "wires": [["1db388a.5ab14"]]}, {"id": "1db388a.5ab14", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Tenderized 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 3060, "wires": []}, {"id": "cbdcd6f8.4de14", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Tenderized 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3040, "wires": [["c7ac71ba.89f14", "9b15f2bf.56814"]]}, {"id": "c7ac71ba.89f14", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 2980, "wires": []}, {"id": "9b15f2bf.56814", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3040, "wires": [["d72833b6.4ec14"]]}, {"id": "d72833b6.4ec14", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3040, "wires": [["5f841428.14614"]]}, {"id": "5f841428.14614", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Tenderized 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Tenderized 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3040, "wires": []}, {"id": "8ea9804f.cb014", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Tenderized 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3080, "wires": [["e3072c77.85114", "dd1b90ab.92c14"]]}, {"id": "e3072c77.85114", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 3140, "wires": []}, {"id": "dd1b90ab.92c14", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3080, "wires": [["dacd4ab0.ca51314"], ["dacd4ab0.ca514"]]}, {"id": "dacd4ab0.ca514", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3080, "wires": [["92853d2b.15414"]]}, {"id": "92853d2b.15414", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Tenderized 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Tenderized 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3080, "wires": [[]]}, {"id": "2a90beba.57d15", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Knives 1\";\n}\nelse{\n    msg.lang_label = \"Knives 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 3380, "wires": [["1db388a.5ab15"]]}, {"id": "1db388a.5ab15", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Knives 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 3260, "wires": []}, {"id": "cbdcd6f8.4de15", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Knives 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3240, "wires": [["c7ac71ba.89f15", "9b15f2bf.56815"]]}, {"id": "c7ac71ba.89f15", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 3180, "wires": []}, {"id": "9b15f2bf.56815", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3240, "wires": [["d72833b6.4ec15"]]}, {"id": "d72833b6.4ec15", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3240, "wires": [["5f841428.14615"]]}, {"id": "5f841428.14615", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Knives 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Knives 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3240, "wires": []}, {"id": "8ea9804f.cb015", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Knives 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3280, "wires": [["e3072c77.85115", "dd1b90ab.92c15"]]}, {"id": "e3072c77.85115", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 3340, "wires": []}, {"id": "dd1b90ab.92c15", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3280, "wires": [["dacd4ab0.ca51315"], ["dacd4ab0.ca515"]]}, {"id": "dacd4ab0.ca515", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3280, "wires": [["92853d2b.15415"]]}, {"id": "92853d2b.15415", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Knives 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Knives 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3280, "wires": [[]]}, {"id": "2a90beba.57d16", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Skull 1\";\n}\nelse{\n    msg.lang_label = \"Skull 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 3580, "wires": [["1db388a.5ab16"]]}, {"id": "1db388a.5ab16", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Skull 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 3460, "wires": []}, {"id": "cbdcd6f8.4de16", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Skull 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3440, "wires": [["c7ac71ba.89f16", "9b15f2bf.56816"]]}, {"id": "c7ac71ba.89f16", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 3380, "wires": []}, {"id": "9b15f2bf.56816", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3440, "wires": [["d72833b6.4ec16"]]}, {"id": "d72833b6.4ec16", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3440, "wires": [["5f841428.14616"]]}, {"id": "5f841428.14616", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Skull 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Skull 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3440, "wires": []}, {"id": "8ea9804f.cb016", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Skull 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3480, "wires": [["e3072c77.85116", "dd1b90ab.92c16"]]}, {"id": "e3072c77.85116", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 3540, "wires": []}, {"id": "dd1b90ab.92c16", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3480, "wires": [["dacd4ab0.ca51316"], ["dacd4ab0.ca516"]]}, {"id": "dacd4ab0.ca516", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3480, "wires": [["92853d2b.15416"]]}, {"id": "92853d2b.15416", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Skull 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Skull 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3480, "wires": [[]]}, {"id": "2a90beba.57d17", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Presentation 1\";\n}\nelse{\n    msg.lang_label = \"Presentation 1_FR\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 3780, "wires": [["1db388a.5ab17"]]}, {"id": "1db388a.5ab17", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Presentation 1", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 3660, "wires": []}, {"id": "cbdcd6f8.4de17", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Presentation 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3640, "wires": [["c7ac71ba.89f17", "9b15f2bf.56817"]]}, {"id": "c7ac71ba.89f17", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 3580, "wires": []}, {"id": "9b15f2bf.56817", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3640, "wires": [["d72833b6.4ec17"]]}, {"id": "d72833b6.4ec17", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3640, "wires": [["5f841428.14617"]]}, {"id": "5f841428.14617", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Presentation 1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Presentation 1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3640, "wires": []}, {"id": "8ea9804f.cb017", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Presentation 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3680, "wires": [["e3072c77.85117", "dd1b90ab.92c17"]]}, {"id": "e3072c77.85117", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": ["1f1f3cbf.8a3e93"], "x": 495, "y": 3740, "wires": []}, {"id": "dd1b90ab.92c17", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3680, "wires": [["dacd4ab0.ca51317"], ["dacd4ab0.ca517"]]}, {"id": "dacd4ab0.ca517", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3680, "wires": [["92853d2b.15417"]]}, {"id": "92853d2b.15417", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Presentation 2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Presentation 2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3680, "wires": [[]]}, {"id": "ce55df736a4913ab", "type": "link in", "z": "27aa475694f99417", "name": "kill_omx_hint", "links": ["c7ac71ba.89f0", "e3072c77.8510", "c7ac71ba.89f1", "e3072c77.8511", "c7ac71ba.89f2", "e3072c77.8512", "c7ac71ba.89f3", "e3072c77.8513", "c7ac71ba.89f4", "e3072c77.8514", "c7ac71ba.89f5", "e3072c77.8515", "c7ac71ba.89f6", "e3072c77.8516", "c7ac71ba.89f7", "e3072c77.8517", "c7ac71ba.89f8", "e3072c77.8518", "c7ac71ba.89f9", "e3072c77.8519", "c7ac71ba.89f10", "e3072c77.85110", "c7ac71ba.89f11", "e3072c77.85111", "c7ac71ba.89f12", "e3072c77.85112", "c7ac71ba.89f13", "e3072c77.85113", "c7ac71ba.89f14", "e3072c77.85114", "c7ac71ba.89f15", "e3072c77.85115", "c7ac71ba.89f16", "e3072c77.85116", "c7ac71ba.89f17", "e3072c77.85117"], "x": 635, "y": 60, "wires": [["f68cbe37b16123a"]]}, {"id": "f68cbe37b16123a", "type": "exec", "z": "27aa475694f99417", "command": "python3 /media/pi/MP3/kill_talk.py", "addpay": true, "append": "", "useSpawn": "false", "timer": "", "oldrc": false, "name": "", "x": 860, "y": 60, "wires": [[], [], []]}, {"id": "7fcf911a.2dae34", "type": "ui_tab", "name": "Butcher", "icon": "fa-bars", "order": 1, "disabled": false, "hidden": false}, {"id": "bf9559aa.2dae34", "type": "ui_group", "name": "first room", "tab": "7fcf911a.2dae34", "order": 3, "disp": true, "width": 8, "collapse": true}]