hints_flow.json
[{"id": "2a90beba.57d0", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Two letters\";\n}\nelse{\n    msg.lang_label = \"Two letters_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 380, "wires": [["1db388a.5ab0"]]}, {"id": "1db388a.5ab0", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Two letters", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 260, "wires": []}, {"id": "cbdcd6f8.4de0", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Two letters 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 240, "wires": [["c7ac71ba.89f0", "9b15f2bf.5680"]]}, {"id": "c7ac71ba.89f0", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 180, "wires": []}, {"id": "9b15f2bf.5680", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 240, "wires": [["d72833b6.4ec0"]]}, {"id": "d72833b6.4ec0", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 240, "wires": [["5f841428.1460"]]}, {"id": "5f841428.1460", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Two letters 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Two letters 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 240, "wires": []}, {"id": "8ea9804f.cb00", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Two letters 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 280, "wires": [["e3072c77.8510", "dd1b90ab.92c0"]]}, {"id": "e3072c77.8510", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 340, "wires": []}, {"id": "dd1b90ab.92c0", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 280, "wires": [["dacd4ab0.ca50"]]}, {"id": "dacd4ab0.ca50", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 280, "wires": [["92853d2b.1540"]]}, {"id": "92853d2b.1540", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Two letters 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Two letters 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 280, "wires": [[]]}, {"id": "2a90beba.57d1", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Chains\";\n}\nelse{\n    msg.lang_label = \"Chains_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 580, "wires": [["1db388a.5ab1"]]}, {"id": "1db388a.5ab1", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Chains ", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 460, "wires": []}, {"id": "cbdcd6f8.4de1", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Chains  1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 440, "wires": [["c7ac71ba.89f1", "9b15f2bf.5681"]]}, {"id": "c7ac71ba.89f1", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 380, "wires": []}, {"id": "9b15f2bf.5681", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 440, "wires": [["d72833b6.4ec1"]]}, {"id": "d72833b6.4ec1", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 440, "wires": [["5f841428.1461"]]}, {"id": "5f841428.1461", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Chains  1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Chains  1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 440, "wires": []}, {"id": "8ea9804f.cb01", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Chains  2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 480, "wires": [["e3072c77.8511", "dd1b90ab.92c1"]]}, {"id": "e3072c77.8511", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 540, "wires": []}, {"id": "dd1b90ab.92c1", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 480, "wires": [["dacd4ab0.ca51"]]}, {"id": "dacd4ab0.ca51", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 480, "wires": [["92853d2b.1541"]]}, {"id": "92853d2b.1541", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Chains  2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Chains  2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 480, "wires": [[]]}, {"id": "2a90beba.57d2", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Shed box\";\n}\nelse{\n    msg.lang_label = \"Shed box_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 780, "wires": [["1db388a.5ab2"]]}, {"id": "1db388a.5ab2", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Shed box", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 660, "wires": []}, {"id": "cbdcd6f8.4de2", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Shed box 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 640, "wires": [["c7ac71ba.89f2", "9b15f2bf.5682"]]}, {"id": "c7ac71ba.89f2", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 580, "wires": []}, {"id": "9b15f2bf.5682", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 640, "wires": [["d72833b6.4ec2"]]}, {"id": "d72833b6.4ec2", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 640, "wires": [["5f841428.1462"]]}, {"id": "5f841428.1462", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Shed box 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Shed box 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 640, "wires": []}, {"id": "8ea9804f.cb02", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Shed box 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 680, "wires": [["e3072c77.8512", "dd1b90ab.92c2"]]}, {"id": "e3072c77.8512", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 740, "wires": []}, {"id": "dd1b90ab.92c2", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 680, "wires": [["dacd4ab0.ca52"]]}, {"id": "dacd4ab0.ca52", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 680, "wires": [["92853d2b.1542"]]}, {"id": "92853d2b.1542", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Shed box 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Shed box 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 680, "wires": [[]]}, {"id": "2a90beba.57d3", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Tool\";\n}\nelse{\n    msg.lang_label = \"Tool_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 980, "wires": [["1db388a.5ab3"]]}, {"id": "1db388a.5ab3", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Tool", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 860, "wires": []}, {"id": "cbdcd6f8.4de3", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Tool 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 840, "wires": [["c7ac71ba.89f3", "9b15f2bf.5683"]]}, {"id": "c7ac71ba.89f3", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 780, "wires": []}, {"id": "9b15f2bf.5683", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 840, "wires": [["d72833b6.4ec3"]]}, {"id": "d72833b6.4ec3", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 840, "wires": [["5f841428.1463"]]}, {"id": "5f841428.1463", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Tool 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Tool 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 840, "wires": []}, {"id": "8ea9804f.cb03", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Tool 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 880, "wires": [["e3072c77.8513", "dd1b90ab.92c3"]]}, {"id": "e3072c77.8513", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 940, "wires": []}, {"id": "dd1b90ab.92c3", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 880, "wires": [["dacd4ab0.ca53"]]}, {"id": "dacd4ab0.ca53", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 880, "wires": [["92853d2b.1543"]]}, {"id": "92853d2b.1543", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Tool 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Tool 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 880, "wires": [[]]}, {"id": "2a90beba.57d4", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Safety regulations\";\n}\nelse{\n    msg.lang_label = \"Safety regulations_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 1180, "wires": [["1db388a.5ab4"]]}, {"id": "1db388a.5ab4", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Safety regulations", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 1060, "wires": []}, {"id": "cbdcd6f8.4de4", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Safety regulations 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1040, "wires": [["c7ac71ba.89f4", "9b15f2bf.5684"]]}, {"id": "c7ac71ba.89f4", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 980, "wires": []}, {"id": "9b15f2bf.5684", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1040, "wires": [["d72833b6.4ec4"]]}, {"id": "d72833b6.4ec4", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1040, "wires": [["5f841428.1464"]]}, {"id": "5f841428.1464", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Safety regulations 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Safety regulations 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1040, "wires": []}, {"id": "8ea9804f.cb04", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Safety regulations 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1080, "wires": [["e3072c77.8514", "dd1b90ab.92c4"]]}, {"id": "e3072c77.8514", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 1140, "wires": []}, {"id": "dd1b90ab.92c4", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1080, "wires": [["dacd4ab0.ca54"]]}, {"id": "dacd4ab0.ca54", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1080, "wires": [["92853d2b.1544"]]}, {"id": "92853d2b.1544", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Safety regulations 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Safety regulations 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1080, "wires": [[]]}, {"id": "2a90beba.57d5", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Four by four\";\n}\nelse{\n    msg.lang_label = \"Four by four_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 1380, "wires": [["1db388a.5ab5"]]}, {"id": "1db388a.5ab5", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Four by four", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 1260, "wires": []}, {"id": "cbdcd6f8.4de5", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Four by four 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1240, "wires": [["c7ac71ba.89f5", "9b15f2bf.5685"]]}, {"id": "c7ac71ba.89f5", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 1180, "wires": []}, {"id": "9b15f2bf.5685", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1240, "wires": [["d72833b6.4ec5"]]}, {"id": "d72833b6.4ec5", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1240, "wires": [["5f841428.1465"]]}, {"id": "5f841428.1465", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Four by four 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Four by four 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1240, "wires": []}, {"id": "8ea9804f.cb05", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Four by four 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1280, "wires": [["e3072c77.8515", "dd1b90ab.92c5"]]}, {"id": "e3072c77.8515", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 1340, "wires": []}, {"id": "dd1b90ab.92c5", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1280, "wires": [["dacd4ab0.ca55"]]}, {"id": "dacd4ab0.ca55", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1280, "wires": [["92853d2b.1545"]]}, {"id": "92853d2b.1545", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Four by four 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Four by four 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1280, "wires": [[]]}, {"id": "2a90beba.57d6", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Tongue\";\n}\nelse{\n    msg.lang_label = \"Tongue_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 1580, "wires": [["1db388a.5ab6"]]}, {"id": "1db388a.5ab6", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Tongue", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 1460, "wires": []}, {"id": "cbdcd6f8.4de6", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Tongue 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1440, "wires": [["c7ac71ba.89f6", "9b15f2bf.5686"]]}, {"id": "c7ac71ba.89f6", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 1380, "wires": []}, {"id": "9b15f2bf.5686", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1440, "wires": [["d72833b6.4ec6"]]}, {"id": "d72833b6.4ec6", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1440, "wires": [["5f841428.1466"]]}, {"id": "5f841428.1466", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Tongue 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Tongue 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1440, "wires": []}, {"id": "8ea9804f.cb06", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Tongue 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1480, "wires": [["e3072c77.8516", "dd1b90ab.92c6"]]}, {"id": "e3072c77.8516", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 1540, "wires": []}, {"id": "dd1b90ab.92c6", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1480, "wires": [["dacd4ab0.ca56"]]}, {"id": "dacd4ab0.ca56", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1480, "wires": [["92853d2b.1546"]]}, {"id": "92853d2b.1546", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Tongue 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Tongue 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1480, "wires": [[]]}, {"id": "2a90beba.57d7", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Self-harm\";\n}\nelse{\n    msg.lang_label = \"Self-harm_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 1780, "wires": [["1db388a.5ab7"]]}, {"id": "1db388a.5ab7", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Self-harm", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 1660, "wires": []}, {"id": "cbdcd6f8.4de7", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Self-harm 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1640, "wires": [["c7ac71ba.89f7", "9b15f2bf.5687"]]}, {"id": "c7ac71ba.89f7", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 1580, "wires": []}, {"id": "9b15f2bf.5687", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1640, "wires": [["d72833b6.4ec7"]]}, {"id": "d72833b6.4ec7", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1640, "wires": [["5f841428.1467"]]}, {"id": "5f841428.1467", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Self-harm 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Self-harm 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1640, "wires": []}, {"id": "8ea9804f.cb07", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Self-harm 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1680, "wires": [["e3072c77.8517", "dd1b90ab.92c7"]]}, {"id": "e3072c77.8517", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 1740, "wires": []}, {"id": "dd1b90ab.92c7", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1680, "wires": [["dacd4ab0.ca57"]]}, {"id": "dacd4ab0.ca57", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1680, "wires": [["92853d2b.1547"]]}, {"id": "92853d2b.1547", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Self-harm 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Self-harm 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1680, "wires": [[]]}, {"id": "2a90beba.57d8", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Pill Shakers\";\n}\nelse{\n    msg.lang_label = \"Pill Shakers_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 1980, "wires": [["1db388a.5ab8"]]}, {"id": "1db388a.5ab8", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Pill Shakers", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 1860, "wires": []}, {"id": "cbdcd6f8.4de8", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Pill Shakers 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1840, "wires": [["c7ac71ba.89f8", "9b15f2bf.5688"]]}, {"id": "c7ac71ba.89f8", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 1780, "wires": []}, {"id": "9b15f2bf.5688", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1840, "wires": [["d72833b6.4ec8"]]}, {"id": "d72833b6.4ec8", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1840, "wires": [["5f841428.1468"]]}, {"id": "5f841428.1468", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Pill Shakers 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Pill Shakers 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1840, "wires": []}, {"id": "8ea9804f.cb08", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Pill Shakers 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 1880, "wires": [["e3072c77.8518", "dd1b90ab.92c8"]]}, {"id": "e3072c77.8518", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 1940, "wires": []}, {"id": "dd1b90ab.92c8", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 1880, "wires": [["dacd4ab0.ca58"]]}, {"id": "dacd4ab0.ca58", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 1880, "wires": [["92853d2b.1548"]]}, {"id": "92853d2b.1548", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Pill Shakers 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Pill Shakers 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 1880, "wires": [[]]}, {"id": "2a90beba.57d9", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Dolls\";\n}\nelse{\n    msg.lang_label = \"Dolls_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 2180, "wires": [["1db388a.5ab9"]]}, {"id": "1db388a.5ab9", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Dolls", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 2060, "wires": []}, {"id": "cbdcd6f8.4de9", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Dolls 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2040, "wires": [["c7ac71ba.89f9", "9b15f2bf.5689"]]}, {"id": "c7ac71ba.89f9", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 1980, "wires": []}, {"id": "9b15f2bf.5689", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2040, "wires": [["d72833b6.4ec9"]]}, {"id": "d72833b6.4ec9", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2040, "wires": [["5f841428.1469"]]}, {"id": "5f841428.1469", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Dolls 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Dolls 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2040, "wires": []}, {"id": "8ea9804f.cb09", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Dolls 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2080, "wires": [["e3072c77.8519", "dd1b90ab.92c9"]]}, {"id": "e3072c77.8519", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 2140, "wires": []}, {"id": "dd1b90ab.92c9", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2080, "wires": [["dacd4ab0.ca59"]]}, {"id": "dacd4ab0.ca59", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2080, "wires": [["92853d2b.1549"]]}, {"id": "92853d2b.1549", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Dolls 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Dolls 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2080, "wires": [[]]}, {"id": "2a90beba.57d10", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Magnets\";\n}\nelse{\n    msg.lang_label = \"Magnets_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 2380, "wires": [["1db388a.5ab10"]]}, {"id": "1db388a.5ab10", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Magnets", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 2260, "wires": []}, {"id": "cbdcd6f8.4de10", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Magnets 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2240, "wires": [["c7ac71ba.89f10", "9b15f2bf.56810"]]}, {"id": "c7ac71ba.89f10", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 2180, "wires": []}, {"id": "9b15f2bf.56810", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2240, "wires": [["d72833b6.4ec10"]]}, {"id": "d72833b6.4ec10", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2240, "wires": [["5f841428.14610"]]}, {"id": "5f841428.14610", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Magnets 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Magnets 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2240, "wires": []}, {"id": "8ea9804f.cb010", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Magnets 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2280, "wires": [["e3072c77.85110", "dd1b90ab.92c10"]]}, {"id": "e3072c77.85110", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 2340, "wires": []}, {"id": "dd1b90ab.92c10", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2280, "wires": [["dacd4ab0.ca510"]]}, {"id": "dacd4ab0.ca510", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2280, "wires": [["92853d2b.15410"]]}, {"id": "92853d2b.15410", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Magnets 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Magnets 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2280, "wires": [[]]}, {"id": "2a90beba.57d11", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Cross\";\n}\nelse{\n    msg.lang_label = \"Cross_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 2580, "wires": [["1db388a.5ab11"]]}, {"id": "1db388a.5ab11", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Cross", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 2460, "wires": []}, {"id": "cbdcd6f8.4de11", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Cross 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2440, "wires": [["c7ac71ba.89f11", "9b15f2bf.56811"]]}, {"id": "c7ac71ba.89f11", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 2380, "wires": []}, {"id": "9b15f2bf.56811", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2440, "wires": [["d72833b6.4ec11"]]}, {"id": "d72833b6.4ec11", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2440, "wires": [["5f841428.14611"]]}, {"id": "5f841428.14611", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Cross 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Cross 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2440, "wires": []}, {"id": "8ea9804f.cb011", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Cross 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2480, "wires": [["e3072c77.85111", "dd1b90ab.92c11"]]}, {"id": "e3072c77.85111", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 2540, "wires": []}, {"id": "dd1b90ab.92c11", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2480, "wires": [["dacd4ab0.ca511"]]}, {"id": "dacd4ab0.ca511", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2480, "wires": [["92853d2b.15411"]]}, {"id": "92853d2b.15411", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Cross 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Cross 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2480, "wires": [[]]}, {"id": "2a90beba.57d12", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Heart\";\n}\nelse{\n    msg.lang_label = \"Heart_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 2780, "wires": [["1db388a.5ab12"]]}, {"id": "1db388a.5ab12", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Heart", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 2660, "wires": []}, {"id": "cbdcd6f8.4de12", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Heart 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2640, "wires": [["c7ac71ba.89f12", "9b15f2bf.56812"]]}, {"id": "c7ac71ba.89f12", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 2580, "wires": []}, {"id": "9b15f2bf.56812", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2640, "wires": [["d72833b6.4ec12"]]}, {"id": "d72833b6.4ec12", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2640, "wires": [["5f841428.14612"]]}, {"id": "5f841428.14612", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Heart 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Heart 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2640, "wires": []}, {"id": "8ea9804f.cb012", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Heart 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2680, "wires": [["e3072c77.85112", "dd1b90ab.92c12"]]}, {"id": "e3072c77.85112", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 2740, "wires": []}, {"id": "dd1b90ab.92c12", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2680, "wires": [["dacd4ab0.ca512"]]}, {"id": "dacd4ab0.ca512", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2680, "wires": [["92853d2b.15412"]]}, {"id": "92853d2b.15412", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Heart 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Heart 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2680, "wires": [[]]}, {"id": "2a90beba.57d13", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Teenager posters\";\n}\nelse{\n    msg.lang_label = \"Teenager posters_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 2980, "wires": [["1db388a.5ab13"]]}, {"id": "1db388a.5ab13", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Teenager posters", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 2860, "wires": []}, {"id": "cbdcd6f8.4de13", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Teenager posters 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2840, "wires": [["c7ac71ba.89f13", "9b15f2bf.56813"]]}, {"id": "c7ac71ba.89f13", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 2780, "wires": []}, {"id": "9b15f2bf.56813", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2840, "wires": [["d72833b6.4ec13"]]}, {"id": "d72833b6.4ec13", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2840, "wires": [["5f841428.14613"]]}, {"id": "5f841428.14613", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Teenager posters 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Teenager posters 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2840, "wires": []}, {"id": "8ea9804f.cb013", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Teenager posters 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 2880, "wires": [["e3072c77.85113", "dd1b90ab.92c13"]]}, {"id": "e3072c77.85113", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 2940, "wires": []}, {"id": "dd1b90ab.92c13", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 2880, "wires": [["dacd4ab0.ca513"]]}, {"id": "dacd4ab0.ca513", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 2880, "wires": [["92853d2b.15413"]]}, {"id": "92853d2b.15413", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Teenager posters 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Teenager posters 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 2880, "wires": [[]]}, {"id": "2a90beba.57d14", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Phone\";\n}\nelse{\n    msg.lang_label = \"Phone_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 3180, "wires": [["1db388a.5ab14"]]}, {"id": "1db388a.5ab14", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Phone", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 3060, "wires": []}, {"id": "cbdcd6f8.4de14", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Phone 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3040, "wires": [["c7ac71ba.89f14", "9b15f2bf.56814"]]}, {"id": "c7ac71ba.89f14", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 2980, "wires": []}, {"id": "9b15f2bf.56814", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3040, "wires": [["d72833b6.4ec14"]]}, {"id": "d72833b6.4ec14", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3040, "wires": [["5f841428.14614"]]}, {"id": "5f841428.14614", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Phone 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Phone 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3040, "wires": []}, {"id": "8ea9804f.cb014", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Phone 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3080, "wires": [["e3072c77.85114", "dd1b90ab.92c14"]]}, {"id": "e3072c77.85114", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 3140, "wires": []}, {"id": "dd1b90ab.92c14", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3080, "wires": [["dacd4ab0.ca514"]]}, {"id": "dacd4ab0.ca514", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3080, "wires": [["92853d2b.15414"]]}, {"id": "92853d2b.15414", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Phone 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Phone 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3080, "wires": [[]]}, {"id": "2a90beba.57d15", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"UV\";\n}\nelse{\n    msg.lang_label = \"UV_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 3380, "wires": [["1db388a.5ab15"]]}, {"id": "1db388a.5ab15", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "UV", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 3260, "wires": []}, {"id": "cbdcd6f8.4de15", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_UV 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3240, "wires": [["c7ac71ba.89f15", "9b15f2bf.56815"]]}, {"id": "c7ac71ba.89f15", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 3180, "wires": []}, {"id": "9b15f2bf.56815", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3240, "wires": [["d72833b6.4ec15"]]}, {"id": "d72833b6.4ec15", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3240, "wires": [["5f841428.14615"]]}, {"id": "5f841428.14615", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/UV 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/UV 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3240, "wires": []}, {"id": "8ea9804f.cb015", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_UV 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3280, "wires": [["e3072c77.85115", "dd1b90ab.92c15"]]}, {"id": "e3072c77.85115", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 3340, "wires": []}, {"id": "dd1b90ab.92c15", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3280, "wires": [["dacd4ab0.ca515"]]}, {"id": "dacd4ab0.ca515", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3280, "wires": [["92853d2b.15415"]]}, {"id": "92853d2b.15415", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/UV 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/UV 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3280, "wires": [[]]}, {"id": "2a90beba.57d16", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"House Model\";\n}\nelse{\n    msg.lang_label = \"House Model_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 3580, "wires": [["1db388a.5ab16"]]}, {"id": "1db388a.5ab16", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "House Model", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 3460, "wires": []}, {"id": "cbdcd6f8.4de16", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_House Model 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3440, "wires": [["c7ac71ba.89f16", "9b15f2bf.56816"]]}, {"id": "c7ac71ba.89f16", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 3380, "wires": []}, {"id": "9b15f2bf.56816", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3440, "wires": [["d72833b6.4ec16"]]}, {"id": "d72833b6.4ec16", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3440, "wires": [["5f841428.14616"]]}, {"id": "5f841428.14616", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/House Model 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/House Model 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3440, "wires": []}, {"id": "8ea9804f.cb016", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_House Model 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3480, "wires": [["e3072c77.85116", "dd1b90ab.92c16"]]}, {"id": "e3072c77.85116", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 3540, "wires": []}, {"id": "dd1b90ab.92c16", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3480, "wires": [["dacd4ab0.ca516"]]}, {"id": "dacd4ab0.ca516", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3480, "wires": [["92853d2b.15416"]]}, {"id": "92853d2b.15416", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/House Model 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/House Model 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3480, "wires": [[]]}, {"id": "2a90beba.57d17", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Missing posters\";\n}\nelse{\n    msg.lang_label = \"Missing posters_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 3780, "wires": [["1db388a.5ab17"]]}, {"id": "1db388a.5ab17", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Missing posters", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 3660, "wires": []}, {"id": "cbdcd6f8.4de17", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Missing posters 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3640, "wires": [["c7ac71ba.89f17", "9b15f2bf.56817"]]}, {"id": "c7ac71ba.89f17", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 3580, "wires": []}, {"id": "9b15f2bf.56817", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3640, "wires": [["d72833b6.4ec17"]]}, {"id": "d72833b6.4ec17", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3640, "wires": [["5f841428.14617"]]}, {"id": "5f841428.14617", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Missing posters 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Missing posters 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3640, "wires": []}, {"id": "8ea9804f.cb017", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Missing posters 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3680, "wires": [["e3072c77.85117", "dd1b90ab.92c17"]]}, {"id": "e3072c77.85117", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 3740, "wires": []}, {"id": "dd1b90ab.92c17", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3680, "wires": [["dacd4ab0.ca517"]]}, {"id": "dacd4ab0.ca517", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3680, "wires": [["92853d2b.15417"]]}, {"id": "92853d2b.15417", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Missing posters 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Missing posters 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3680, "wires": [[]]}, {"id": "2a90beba.57d18", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Ritual book\";\n}\nelse{\n    msg.lang_label = \"Ritual book_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 3980, "wires": [["1db388a.5ab18"]]}, {"id": "1db388a.5ab18", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Ritual book", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 3860, "wires": []}, {"id": "cbdcd6f8.4de18", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Ritual book 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3840, "wires": [["c7ac71ba.89f18", "9b15f2bf.56818"]]}, {"id": "c7ac71ba.89f18", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 3780, "wires": []}, {"id": "9b15f2bf.56818", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3840, "wires": [["d72833b6.4ec18"]]}, {"id": "d72833b6.4ec18", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3840, "wires": [["5f841428.14618"]]}, {"id": "5f841428.14618", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Ritual book 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Ritual book 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3840, "wires": []}, {"id": "8ea9804f.cb018", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Ritual book 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 3880, "wires": [["e3072c77.85118", "dd1b90ab.92c18"]]}, {"id": "e3072c77.85118", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 3940, "wires": []}, {"id": "dd1b90ab.92c18", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 3880, "wires": [["dacd4ab0.ca518"]]}, {"id": "dacd4ab0.ca518", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 3880, "wires": [["92853d2b.15418"]]}, {"id": "92853d2b.15418", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Ritual book 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Ritual book 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 3880, "wires": [[]]}, {"id": "2a90beba.57d19", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Scroll\";\n}\nelse{\n    msg.lang_label = \"Scroll_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 4180, "wires": [["1db388a.5ab19"]]}, {"id": "1db388a.5ab19", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Scroll", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 4060, "wires": []}, {"id": "cbdcd6f8.4de19", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Scroll 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 4040, "wires": [["c7ac71ba.89f19", "9b15f2bf.56819"]]}, {"id": "c7ac71ba.89f19", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 3980, "wires": []}, {"id": "9b15f2bf.56819", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 4040, "wires": [["d72833b6.4ec19"]]}, {"id": "d72833b6.4ec19", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 4040, "wires": [["5f841428.14619"]]}, {"id": "5f841428.14619", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Scroll 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Scroll 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 4040, "wires": []}, {"id": "8ea9804f.cb019", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Scroll 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 4080, "wires": [["e3072c77.85119", "dd1b90ab.92c19"]]}, {"id": "e3072c77.85119", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 4140, "wires": []}, {"id": "dd1b90ab.92c19", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 4080, "wires": [["dacd4ab0.ca519"]]}, {"id": "dacd4ab0.ca519", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 4080, "wires": [["92853d2b.15419"]]}, {"id": "92853d2b.15419", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Scroll 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Scroll 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 4080, "wires": [[]]}, {"id": "2a90beba.57d20", "type": "function", "z": "8389bbf5.5d9f78", "name": "set_btn_text", "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"Skull\";\n}\nelse{\n    msg.lang_label = \"Skull_LOC\";\n}\nreturn msg;", "outputs": 1, "noerr": 0, "x": 150, "y": 4380, "wires": [["1db388a.5ab20"]]}, {"id": "1db388a.5ab20", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "Skull", "group": "bf9559aa.54ab88", "order": 3, "width": 6, "height": 1, "passthru": false, "label": "{{msg.lang_label}}", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "", "payload": "", "payloadType": "str", "topic": "", "x": 160, "y": 4260, "wires": []}, {"id": "cbdcd6f8.4de20", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h1_Skull 1", "group": "bf9559aa.54ab88", "order": 1, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-comment-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 4240, "wires": [["c7ac71ba.89f20", "9b15f2bf.56820"]]}, {"id": "c7ac71ba.89f20", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 4180, "wires": []}, {"id": "9b15f2bf.56820", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 4240, "wires": [["d72833b6.4ec20"]]}, {"id": "d72833b6.4ec20", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 4240, "wires": [["5f841428.14620"]]}, {"id": "5f841428.14620", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Skull 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Skull 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 4240, "wires": []}, {"id": "8ea9804f.cb020", "type": "ui_button", "z": "8389bbf5.5d9f78", "name": "h2_Skull 2", "group": "bf9559aa.54ab88", "order": 2, "width": 1, "height": 1, "passthru": false, "label": "", "tooltip": "", "color": "silver", "bgcolor": "", "icon": "fa-commenting-o fa-2x", "payload": "true", "payloadType": "bool", "topic": "", "x": 380, "y": 4280, "wires": [["e3072c77.85120", "dd1b90ab.92c20"]]}, {"id": "e3072c77.85120", "type": "link out", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 495, "y": 4340, "wires": []}, {"id": "dd1b90ab.92c20", "type": "function", "z": "8389bbf5.5d9f78", "name": "check_lang", "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;", "outputs": 1, "noerr": 0, "x": 650, "y": 4280, "wires": [["dacd4ab0.ca520"]]}, {"id": "dacd4ab0.ca520", "type": "delay", "z": "8389bbf5.5d9f78", "name": "", "pauseType": "delay", "timeout": "500", "timeoutUnits": "milliseconds", "rate": "1", "nbRateUnits": "1", "rateUnits": "second", "randomFirst": "1", "randomLast": "5", "randomUnits": "seconds", "drop": false, "x": 850, "y": 4280, "wires": [["92853d2b.15420"]]}, {"id": "92853d2b.15420", "type": "python-function", "z": "8389bbf5.5d9f78", "name": "mp3_win", "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/Skull 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/Skull 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])", "outputs": 1, "x": 1040, "y": 4280, "wires": [[]]}, {"id": "3ca965f.4ce09a", "type": "link in", "z": "8389bbf5.5d9f78", "name": "", "links": [], "x": 15, "y": 380, "wires": [["2a90beba.57d0", "2a90beba.57d1", "2a90beba.57d2", "2a90beba.57d3", "2a90beba.57d4", "2a90beba.57d5", "2a90beba.57d6", "2a90beba.57d7", "2a90beba.57d8", "2a90beba.57d9", "2a90beba.57d10", "2a90beba.57d11", "2a90beba.57d12", "2a90beba.57d13", "2a90beba.57d14", "2a90beba.57d15", "2a90beba.57d16", "2a90beba.57d17", "2a90beba.57d18", "2a90beba.57d19", "2a90beba.57d20"]]}, {"id": "ce55df736a4913ab", "type": "link in", "z": "27aa475694f99417", "name": "kill_omx_hint", "links": ["c7ac71ba.89f0", "e3072c77.8510", "c7ac71ba.89f1", "e3072c77.8511", "c7ac71ba.89f2", "e3072c77.8512", "c7ac71ba.89f3", "e3072c77.8513", "c7ac71ba.89f4", "e3072c77.8514", "c7ac71ba.89f5", "e3072c77.8515", "c7ac71ba.89f6", "e3072c77.8516", "c7ac71ba.89f7", "e3072c77.8517", "c7ac71ba.89f8", "e3072c77.8518", "c7ac71ba.89f9", "e3072c77.8519", "c7ac71ba.89f10", "e3072c77.85110", "c7ac71ba.89f11", "e3072c77.85111", "c7ac71ba.89f12", "e3072c77.85112", "c7ac71ba.89f13", "e3072c77.85113", "c7ac71ba.89f14", "e3072c77.85114", "c7ac71ba.89f15", "e3072c77.85115", "c7ac71ba.89f16", "e3072c77.85116", "c7ac71ba.89f17", "e3072c77.85117", "c7ac71ba.89f18", "e3072c77.85118", "c7ac71ba.89f19", "e3072c77.85119", "c7ac71ba.89f20", "e3072c77.85120"], "x": 635, "y": 60, "wires": [["f68cbe37b16123a"]]}, {"id": "f68cbe37b16123a", "type": "exec", "z": "27aa475694f99417", "command": "python3 /media/pi/MP3/kill_talk.py", "addpay": true, "append": "", "useSpawn": "false", "timer": "", "oldrc": false, "name": "", "x": 860, "y": 60, "wires": [[], [], []]}]