current_flow/_generated_flow.json
[
    {
        "id": "2a90beba.57d0",
        "type": "function",
        "z": "8389bbf5.5d9f78",
        "name": "set_btn_text",
        "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"h1_1\";\n}\nelse{\n    msg.lang_label = \"h1_1_FR\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "1db388a.5ab0"
            ]
        ]
    },
    {
        "id": "1db388a.5ab0",
        "type": "ui_button",
        "z": "8389bbf5.5d9f78",
        "name": "h1_1",
        "group": "bf9559aa.54ab88",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "{{msg.lang_label}}",
        "tooltip": "",
        "color": "silver",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "cbdcd6f8.4de0",
        "type": "ui_button",
        "z": "8389bbf5.5d9f78",
        "name": "h1_h1_1",
        "group": "bf9559aa.54ab88",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "silver",
        "bgcolor": "",
        "icon": "fa-comment-o fa-2x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "c7ac71ba.89f0",
                "9b15f2bf.5680"
            ]
        ]
    },
    {
        "id": "c7ac71ba.89f0",
        "type": "link out",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "links": [
            "1f1f3cbf.8a3e93"
        ],
        "x": 495,
        "y": 180,
        "wires": []
    },
    {
        "id": "9b15f2bf.5680",
        "type": "function",
        "z": "8389bbf5.5d9f78",
        "name": "check_lang",
        "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 240,
        "wires": [
            [
                "d72833b6.4ec0"
            ]
        ]
    },
    {
        "id": "d72833b6.4ec0",
        "type": "delay",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 850,
        "y": 240,
        "wires": [
            [
                "5f841428.1460"
            ]
        ]
    },
    {
        "id": "5f841428.1460",
        "type": "python-function",
        "z": "8389bbf5.5d9f78",
        "name": "mp3_win",
        "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/h1_1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/h1_1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])",
        "outputs": 1,
        "x": 1040,
        "y": 240,
        "wires": []
    },
    {
        "id": "8ea9804f.cb00",
        "type": "ui_button",
        "z": "8389bbf5.5d9f78",
        "name": "h2_h1_2",
        "group": "bf9559aa.54ab88",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "silver",
        "bgcolor": "",
        "icon": "fa-commenting-o fa-2x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 380,
        "y": 280,
        "wires": [
            [
                "e3072c77.8510",
                "dd1b90ab.92c0"
            ]
        ]
    },
    {
        "id": "e3072c77.8510",
        "type": "link out",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "links": [
            "1f1f3cbf.8a3e93"
        ],
        "x": 495,
        "y": 340,
        "wires": []
    },
    {
        "id": "dd1b90ab.92c0",
        "type": "function",
        "z": "8389bbf5.5d9f78",
        "name": "check_lang",
        "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "dacd4ab0.ca5130"
            ],
            [
                "dacd4ab0.ca50"
            ]
        ]
    },
    {
        "id": "dacd4ab0.ca50",
        "type": "delay",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "92853d2b.1540"
            ]
        ]
    },
    {
        "id": "92853d2b.1540",
        "type": "python-function",
        "z": "8389bbf5.5d9f78",
        "name": "mp3_win",
        "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/h1_2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/h1_2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])",
        "outputs": 1,
        "x": 1040,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2a90beba.57d1",
        "type": "function",
        "z": "8389bbf5.5d9f78",
        "name": "set_btn_text",
        "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"h2_1\";\n}\nelse{\n    msg.lang_label = \"h2_1_FR\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 580,
        "wires": [
            [
                "1db388a.5ab1"
            ]
        ]
    },
    {
        "id": "1db388a.5ab1",
        "type": "ui_button",
        "z": "8389bbf5.5d9f78",
        "name": "h2_1",
        "group": "bf9559aa.54ab88",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "{{msg.lang_label}}",
        "tooltip": "",
        "color": "silver",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 460,
        "wires": []
    },
    {
        "id": "cbdcd6f8.4de1",
        "type": "ui_button",
        "z": "8389bbf5.5d9f78",
        "name": "h1_h2_1",
        "group": "bf9559aa.54ab88",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "silver",
        "bgcolor": "",
        "icon": "fa-comment-o fa-2x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 380,
        "y": 440,
        "wires": [
            [
                "c7ac71ba.89f1",
                "9b15f2bf.5681"
            ]
        ]
    },
    {
        "id": "c7ac71ba.89f1",
        "type": "link out",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "links": [
            "1f1f3cbf.8a3e93"
        ],
        "x": 495,
        "y": 380,
        "wires": []
    },
    {
        "id": "9b15f2bf.5681",
        "type": "function",
        "z": "8389bbf5.5d9f78",
        "name": "check_lang",
        "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 440,
        "wires": [
            [
                "d72833b6.4ec1"
            ]
        ]
    },
    {
        "id": "d72833b6.4ec1",
        "type": "delay",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 850,
        "y": 440,
        "wires": [
            [
                "5f841428.1461"
            ]
        ]
    },
    {
        "id": "5f841428.1461",
        "type": "python-function",
        "z": "8389bbf5.5d9f78",
        "name": "mp3_win",
        "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/h2_1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/h2_1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])",
        "outputs": 1,
        "x": 1040,
        "y": 440,
        "wires": []
    },
    {
        "id": "8ea9804f.cb01",
        "type": "ui_button",
        "z": "8389bbf5.5d9f78",
        "name": "h2_h2_2",
        "group": "bf9559aa.54ab88",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "silver",
        "bgcolor": "",
        "icon": "fa-commenting-o fa-2x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "e3072c77.8511",
                "dd1b90ab.92c1"
            ]
        ]
    },
    {
        "id": "e3072c77.8511",
        "type": "link out",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "links": [
            "1f1f3cbf.8a3e93"
        ],
        "x": 495,
        "y": 540,
        "wires": []
    },
    {
        "id": "dd1b90ab.92c1",
        "type": "function",
        "z": "8389bbf5.5d9f78",
        "name": "check_lang",
        "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 480,
        "wires": [
            [
                "dacd4ab0.ca5131"
            ],
            [
                "dacd4ab0.ca51"
            ]
        ]
    },
    {
        "id": "dacd4ab0.ca51",
        "type": "delay",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 850,
        "y": 480,
        "wires": [
            [
                "92853d2b.1541"
            ]
        ]
    },
    {
        "id": "92853d2b.1541",
        "type": "python-function",
        "z": "8389bbf5.5d9f78",
        "name": "mp3_win",
        "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/h2_2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/h2_2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])",
        "outputs": 1,
        "x": 1040,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2a90beba.57d2",
        "type": "function",
        "z": "8389bbf5.5d9f78",
        "name": "set_btn_text",
        "func": "var start_flag = global.get('start_flag')||0;\nvar if_lang_code = global.get('if_lang_code')||1;\n\nif (if_lang_code == 1){\n    msg.lang_label = \"h3_1\";\n}\nelse{\n    msg.lang_label = \"h3_1_FR\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 780,
        "wires": [
            [
                "1db388a.5ab2"
            ]
        ]
    },
    {
        "id": "1db388a.5ab2",
        "type": "ui_button",
        "z": "8389bbf5.5d9f78",
        "name": "h3_1",
        "group": "bf9559aa.54ab88",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "{{msg.lang_label}}",
        "tooltip": "",
        "color": "silver",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 660,
        "wires": []
    },
    {
        "id": "cbdcd6f8.4de2",
        "type": "ui_button",
        "z": "8389bbf5.5d9f78",
        "name": "h1_h3_1",
        "group": "bf9559aa.54ab88",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "silver",
        "bgcolor": "",
        "icon": "fa-comment-o fa-2x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 380,
        "y": 640,
        "wires": [
            [
                "c7ac71ba.89f2",
                "9b15f2bf.5682"
            ]
        ]
    },
    {
        "id": "c7ac71ba.89f2",
        "type": "link out",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "links": [
            "1f1f3cbf.8a3e93"
        ],
        "x": 495,
        "y": 580,
        "wires": []
    },
    {
        "id": "9b15f2bf.5682",
        "type": "function",
        "z": "8389bbf5.5d9f78",
        "name": "check_lang",
        "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 640,
        "wires": [
            [
                "d72833b6.4ec2"
            ]
        ]
    },
    {
        "id": "d72833b6.4ec2",
        "type": "delay",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 850,
        "y": 640,
        "wires": [
            [
                "5f841428.1462"
            ]
        ]
    },
    {
        "id": "5f841428.1462",
        "type": "python-function",
        "z": "8389bbf5.5d9f78",
        "name": "mp3_win",
        "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/h3_1 1.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/h3_1 1.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])",
        "outputs": 1,
        "x": 1040,
        "y": 640,
        "wires": []
    },
    {
        "id": "8ea9804f.cb02",
        "type": "ui_button",
        "z": "8389bbf5.5d9f78",
        "name": "h2_h3_2",
        "group": "bf9559aa.54ab88",
        "order": 2,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "silver",
        "bgcolor": "",
        "icon": "fa-commenting-o fa-2x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "e3072c77.8512",
                "dd1b90ab.92c2"
            ]
        ]
    },
    {
        "id": "e3072c77.8512",
        "type": "link out",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "links": [
            "1f1f3cbf.8a3e93"
        ],
        "x": 495,
        "y": 740,
        "wires": []
    },
    {
        "id": "dd1b90ab.92c2",
        "type": "function",
        "z": "8389bbf5.5d9f78",
        "name": "check_lang",
        "func": "var lang_code = global.get('lang_code');\nmsg.lang_code = lang_code;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 680,
        "wires": [
            [
                "dacd4ab0.ca5132"
            ],
            [
                "dacd4ab0.ca52"
            ]
        ]
    },
    {
        "id": "dacd4ab0.ca52",
        "type": "delay",
        "z": "8389bbf5.5d9f78",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 850,
        "y": 680,
        "wires": [
            [
                "92853d2b.1542"
            ]
        ]
    },
    {
        "id": "92853d2b.1542",
        "type": "python-function",
        "z": "8389bbf5.5d9f78",
        "name": "mp3_win",
        "func": "import os\nimport sys\nfrom subprocess import Popen\n\ntrack1 = \"/media/pi/MP3/GAME/EN/h3_2 2.mp3\"\ntrack2 = \"/media/pi/MP3/GAME/FR/h3_2 2.mp3\"\nif msg['lang_code'] == 1:\n    player1 = Popen(['omxplayer', track1])\nif msg['lang_code'] == 2:\n    player1 = Popen(['omxplayer', track2])",
        "outputs": 1,
        "x": 1040,
        "y": 680,
        "wires": [
            []
        ]
    },
    null,
    {
        "id": "f68cbe37b162",
        "type": "exec",
        "z": "27aa475694f99417",
        "command": "python3 /media/pi/MP3/kill_talk.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 860,
        "y": 60,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7fcf911a.2dae34",
        "type": "ui_tab",
        "name": "Butcher",
        "icon": "fa-bars",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf9559aa.2dae34",
        "type": "ui_group",
        "name": "first room",
        "tab": "7fcf911a.2dae34",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": true
    }
]